@import "../variables";

.page-layout {
  width: 100%;
  &__container {
    width: 100%;
  }
  &__header {
    width: 100%;
    display: none;
    .menu {
      width: 100%;
      &-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__logotype {
          color: $bg-green;
        }
      }
      &-nav {
        width: 100%;
      }
    }
  }
}
