@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/media-queries";

.extra-nav {
  $en: &;
  width: 100%;
  &__list {
    border: 1px solid darken($bg-light-gray, 20%);
    @include sm {
      display: flex;
      justify-content: start;
      border: none;
    }
  }
  &__item {
    &:last-child {
      #{$en}__title, #{$en}__link {
        border-bottom: none;
      }
    }
    &--open {
      #{$en}__title {
        display: block;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        @include sm {
          box-shadow: none;
        }
      }
      #{$en}__link {
        display: block;
      }
    }
  }
  &__title {
    border-bottom: 1px solid darken($bg-light-gray, 20%);
    padding: 10px 20px;
    @include sm {
      border: none;
    }
  }
  &__link {
    display: none;
    border-bottom: 1px solid darken($bg-light-gray, 20%);
    padding: 10px 20px;
    font-size: 0.8rem;
    box-shadow: inset 2px 0 2px rgba(0,0,0,.2);
    @include sm {
      border: none;
      display: block;
      box-shadow: none;
    }
    a {
      width: 100%;
      text-decoration: none;
      color: darken($bg-light-gray, 30%);
    }
  }
}
