@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/media-queries";

.social {
  padding: 20px 20px 0 20px;
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    background: darken($bg-light-gray, 10%);
    border-radius: 50%;
    color: darken($bg-light-gray, 65%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: {
      right: 5px;
      left: 5px;
    };
    &:hover {
      color: #ffffff;
    }
    &--fb {
      &:hover {
        background: $social-fb;
      }
    }
    &--vk {
      &:hover {
        background: $social-vk;
      }
    }
    &--ok {
      &:hover {
        background: $social-ok;
      }
    }
  }
}
