@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/media-queries";

.banner {
  width: 100%;
  min-height: 300px;
  background: $bg-green;
  position: relative;
  @include sm {
    min-height: 270px;
  }
  @include md {
    min-height: 320px;
  }
  &__container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    @include sm {
      padding: 0 40px;
    }
    @include xl {
      margin: 0 auto;
      max-width: 1200px;
      flex-direction: row;
      align-items: center;
      height: 280px;
    }
  }
  &__content {
    color: #ffffff;
    width: 80%;
  }
  &__title {
    font-size: 2rem;
    @include md {
      font-size: 2.5rem;
    }
    span {
      display: block;
    }
  }
  &__description {
    @include md {
      font-size: 1.4rem;
    }
  }
  &__image {
    display: flex;
    justify-content: center;
  }
  &__circle {
    display: block;
    height: 80px;
    width: 80px;
    margin: 5px;
    border-radius: 50%;
  }
}
