@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/media-queries";

.site-nav {
  $sn: &;
  position: relative;
  &__toggle {
    #{$sn}--open & {
      background: $bg-light-gray;
      color: #000;
      padding: 0 10px;
    }
    @include lg {
      display: none;
    }
  }
  &__list {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: #ffffff;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    #{$sn}--open & {
      display: block;
    }
    @include lg {
      display: flex;
      position: static;
      background-color: transparent;
      box-shadow: none;
    }
  }
  &__item {
    color: #000;
    white-space: nowrap;
    padding: 0 15px;
    @include lg {
      background-color: transparent;
      color: #ffffff;

    }
    &:hover {
      background: $bg-green;
      color: #ffffff;
    }
    &--selected {
      background: $bg-green;
      color: #ffffff;
      @include lg {
        background-color: $bg-light-gray;
        color: #000000;

      }
    }
  }
}
