@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/media-queries";

.top-nav {
  background: $bg-dark-gray;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 30px;
  &__container {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    @include md {
      padding: 0 40px;
    }
    @include xl {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}
