@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/media-queries";

.page-layout {
  width: 100%;
  height: 100%;
  max-height: calc(100% - 30px);
  @include lg {
    background: $bg-light-gray;
  }
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__header {
    width: 100%;
    display: none;
    .menu {
      width: 100%;
      &-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &__logotype {
          color: $bg-green;
        }
      }
      &-nav {
        width: 100%;
      }
    }
  }
}
