// colors
$bg-dark-gray: #333333;
$bg-light-gray: #D8D8D8;
$bg-green: #00B956;
$bg-slider-green: #17c642;

$purple: #731A82;

$social-fb: #4267B2;
$social-vk: #4A76A8;
$social-ok: #EE8209;
